.main {
  width: 100%;
  flex: 1 1 auto;
  background: white;
}

.main_home {
  width: 100%;
  min-height: 105vh;
  background-image: url("/components/images/hero-bg.jpg");
  background-size: cover;
}
