.main {
  flex: 1 1 auto;
  background: white;
}

.main_home {
  background-image: url(/public/components/images/hero-bg.jpg);
  background-size: cover;
  min-height: 97.4vh;
  background-color: #3333;
}

.main_about {
  background-color: var(--color-white);
  min-height: 100vh;
}

.main_work {
  background-color: var(--color-quaternary);
  min-height: 100vh;
}

.main_contact {
  background-image: url(/components/images/contacts-bg.jpg);
  background-size: cover;
  min-height: 100vh;
  background-color: var(--color-black);
}
